<div class="modal @(_isVisible ? "d-block" : "d-none")" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					@Title
				</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
						@onclick="Close">
				</button>
			</div>

			<div class="modal-body">
				@Body
			</div>

			<div class="modal-footer">
				@Footer
			</div>
		</div>
	</div>
</div>

@if (_isVisible)
{
	@* This is to prevent the background from scrolling when the modal is open *@
	<div class="modal-backdrop fade show"></div>
}

@code {
	[Parameter] public RenderFragment Title { get; set; }

	[Parameter] public RenderFragment Body { get; set; }

	[Parameter] public RenderFragment Footer { get; set; }

	private bool _isVisible = false;

	public void Open()
	{
		_isVisible = true;
		StateHasChanged();
	}

	public void Close()
	{
		_isVisible = false;
		StateHasChanged();
	}
}
