@page "/logout"
@using AspireProduct.Web.Services

@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<h3>Logout</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		await (AuthStateProvider as CustomAuthStateProvider).MarkUserAsLoggedOutAsync();
		NavigationManager.NavigateTo("/login");
	}
}
